.App {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.destination {
  font-size: 1.5em;
  padding: 0.1em;
  background-color: rgb(199, 66, 18);
  display: flex;
  align-items: center;
  width: 99%;
  border-radius: 0px 0px 8px 8px;
}

.chat-area {
  grid-area: 1 / 1 / 7 / 5;
  background-image: url('https://wallpaperaccess.com/full/2224368.png');
  height: 90vh;
}

.chat {
  color: whitesmoke;
  height: 88%;
  width: 80vw;
}

.users-list-container {
  color: whitesmoke;
  width: 20vw;
}

.direct-messages {
  grid-area: 1 / 5 / 4 / 6;
  overflow-y: auto;
  height: 45vh;
}

.channels {
  grid-area: 4 / 5 / 7 / 6;
  overflow-y: auto;
  height: 45vh;
}

.send-message-container {
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  height: 9%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/

  .App {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .hide {
    display: none !important;
  }

  .chat-area {
    width: 100vw;
    height: 92vh;
    margin: 0;
  }

  .chat {
    color: whitesmoke;
    height: 88%;
    width: 96vw;
  }

  .users-list-container {
    width: 100vw;
    height: 92vh;
    margin: 0;
  }

  .users-list-container ul {
    height: 45vh;
  }
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/

  .App {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .hide {
    display: none !important;
  }

  .chat-area {
    width: 100vw;
    height: 92vh;
    margin: 0;
  }

  .chat {
    color: whitesmoke;
    height: 88%;
    width: 96vw;
  }

  .users-list-container {
    width: 100vw;
    height: 92vh;
    margin: 0;
  }
  .users-list-container ul {
    height: 45vh;
  }
}
