.App {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.destination {
  font-size: 1.5em;
  padding: 0.1em;
  background-color: rgb(199, 66, 18);
  display: flex;
  align-items: center;
  width: 99%;
  border-radius: 0px 0px 8px 8px;
}

.chat {
  grid-area: 1 / 1 / 8 / 5;
  background-image: url('https://wallpaperaccess.com/full/2224368.png');
  color: whitesmoke;
  height: 100%;
  width: 80vw;
}

.users-list-container {
  grid-area: 1 / 5 / 9 / 6;
  color: whitesmoke;
  width: 20vw;
}

.send-message-container {
  grid-area: 8 / 1 / 9 / 5;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 80vw;
}
