.login-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80vh;
  height: 50%;
  margin: 20% auto;
  padding: 2em;
  text-align: center;
  background-color: rgba(1, 39, 95, 0.11);
}

.login-container h1 {
  color: whitesmoke;
  margin-bottom: 1em;
}

#input-with-icon-textfield {
  width: 50vh;
  height: 10vh;
  font-size: 2em;
  color: #222;
  font-family: 'PT Sans Narrow', sans-serif !important;
}

.user-icon {
  font-size: 2.5em !important;
}

.input-adornment {
  font-size: 1.5em !important;
  font-family: 'PT Sans Narrow', sans-serif !important;
}

.login-btn {
  color: #222 !important;
  border-color: #222 !important;
  border-width: 0.1em !important;
  height: 10vh !important;
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 1.5em !important;
}

.login-btn:hover {
  border-color: whitesmoke !important;
  color: whitesmoke !important;
  border-width: 0.1em !important;
}
